.container.nopadding {
    padding: 0;
}

.row.spacedtop {
    margin-top: 20px;
}

.chewing-guy-photo {
    margin-right: 10px;
    border: 1px solid rebeccapurple;
    border-radius: 100px;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}